.about .ant-ribbon {
  background: rgba(0, 100, 0, 0.8);
}
.about {
  background-color: #fff;
}
.ant-ribbon-wrapper{
  height: 100%;
}
.ant-card-head-title{
  font-size: larger;
  font-weight: bolder;
}
.ant-card-meta-title{
  font-family: fantasy;
  font-size: 1.2em;
  font-weight: 900;
}
