:root {
  --ThemeGreen: #72da8e;
  --ThemeBlue: #10b2ff;
  --ThemePurple: #9e44f6;
  --Grad: linear-gradient(
    to right,
    var(--ThemePurple),
    var(--ThemeBlue),
    var(--ThemeGreen)
  );
}

.sliderStyle {
  height: 80vh;
  /* background-image: url('../../images/Banner-3.webp'); */
  background-color: hsla(0, 0%, 0%, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slick-dots li.slick-active button {
  background: var(--Grad) !important;
  animation: AnimDots 5s ease-in-out 1ms 1 normal forwards;
}
@keyframes AnimDots {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }

  50% {
    opacity: 0.8;
    transform: scale(1.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.sliderTextContent {
  font-family: Verdana;
  font-size: 30px;
  -webkit-text-stroke: 1px #000;
  text-shadow: #000 1px 3px 4px;
  padding: 10% 25% 0px 5%;
  color: white;
}
.btnKnowMore {
  margin: 1% 0px 0px 5%;
  border: none;
  padding: 10px 44px;
  font-size: 36px;
  position: relative;
  background: hsla(0, 0%, 0%, 0);
}
.btnKnowMore::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 30%;
  height: 100%;
  background: var(--Grad);
  position: absolute;
  top: 0;
  left: 0;
}
.btnKnowMore .btn-text {
  color: white;
  mix-blend-mode: lighten;
}

.btnKnowMore:hover::before {
  background: var(--Grad);
  opacity: 1;
  width: 100%;
}
